<h1 class="font-bold text-xl mb-6 mt-8">Lists</h1>

<%= live_render(@conn, ListzWeb.ListFormLive, session: %{}) %>

<h2 class="font-semibold text-l mb-4 mt-8">Listing Lists</h2>

<%= live_render(@conn, ListzWeb.ListListLive, session: %{}) %>
