<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Listz · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <meta name="user-token" content="<%= assigns[:user_token] %>"/>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="font-thin relative">
    <header>
      <section class="container mx-auto max-w-lg py-6 px-4 flex items-center justify-between flex-wrap border-b border-gray-400">
        <a href="http://phoenixframework.org/" class="block">
          <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" class="h-16 object-contain w-full" alt="Phoenix Framework Logo" />
        </a>
      </section>
    </header>
    <main role="main" class="container mx-auto max-w-md py-2">
      <%= if @current_user do %>
        <div class="flex my-4">
          <div class="flex-1">
            Logged in as: <%= @current_user.email %>
          </div>

          <%= link "Logout", to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "text-blue-600" %>
        </div>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert">
          <p><%= get_flash(@conn, :error) %></p>
        </div>
      <% end %>

      <%= if get_flash(@conn, :info) do %>
        <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4" role="alert">
          <p><%= get_flash(@conn, :info) %></p>
        </div>
      <% end %>

      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
